<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" href="/img/logosolo.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Resgistrase</title>
    <!---Archivo css--->
    <link rel="stylesheet" href="/css/RegistrarseStyle.css" />
    <link rel="icon" type="image/png" href="/img/logosolo.png">
    <script src="/js/scrollreveal.js"></script> 
</head>
<body>
    <header id="loco">
        <nav class="encabezado animation2">
            <div>
                <img src="/img/logo.png" alt="arte diseño" class="logo8">
            </div>
            <input type="checkbox" id="check1">
            <label for="check1" class="bar-btn">
                <i class="fa fa-bars"></i>
            </label>
            <ul class="nav-menu">
                <li><a class="active" th:href="@{/}" style="text-shadow:1px 1px 5px #000000;">Inicio</a></li>
                <li><a th:href="@{/login}" style="text-shadow:1px 1px 5px #000000;">Iniciar sesión</a></li>

            </ul>
        </nav>
    </header>
<section class="container">
    
    <form  th:action="@{/Usuario/Guardar}" th:object="${Usuario}" method="post" class="form formulario" id="formulario" onsubmit="return validarFormulario()">
        <header id="title90">Registrarse</header>
        <!-- Grupo: Nombre -->
        <div class="input-box formulario__grupo" id="grupo__NombreCompleto">
            <label for="nombre" class="formulario__label">Nombre Completo</label>
            <div class="formulario__grupo-input">
                <input type="text" th:field="*{NombreCompleto}" class="formulario__input" name="NombreCompleto" id="nombre" placeholder="John Rodrigues">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
        </div>

        <!-- Grupo: Correo Electronico -->
        <div class="input-box formulario__grupo" id="grupo__email">
            <label for="email" class="formulario__label">Correo electronico</label>
            <div class="formulario__grupo-input">
                <input type="email" th:field="*{email}" class="formulario__input" name="email" id="email" placeholder="correo@correo.com">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
        </div>



        <div class="column">
            <!-- Grupo: Documento -->
            <div class="input-box formulario__grupo" id="grupo__Documento">
                <label for="Documento" class="formulario__label">Docuemento de identidad</label>
                <div class="formulario__grupo-input">
                    <input type="number" th:field="*{Documento}" class="formulario__input" name="Documento" id="Documento" placeholder="4491234567">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Escriba su numero de Documento</p>
            </div>
            <!-- Grupo: Telefono -->
            <div class="input-box formulario__grupo" id="grupo__Telefono">
                <label for="telefono" class="formulario__label">Telefono</label>
                <div class="formulario__grupo-input">
                    <input type="number" th:field="*{Telefono}" class="formulario__input" name="Telefono" id="telefono" placeholder="3125025">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14 dígitos.</p>
            </div>
        </div>

        <div class="input-box address">
            <!-- Grupo: recidencia -->
            <div class="formulario__grupo" id="grupo__Recidencia">
                <label for="recidencia" class="formulario__label">Recidencia</label>
                <div class="formulario__grupo-input">
                    <input type="text" th:field="*{Recidencia}" class="formulario__input" name="Recidencia" id="recidencia" placeholder="Crr95#65sur">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El recidencia tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
            </div>

            <div class="column">
                <!-- Grupo: Contraseña -->
                <div class="formulario__grupo input-box" id="grupo__password">
                    <label for="password" class="formulario__label">Contraseña</label>
                    <div class="formulario__grupo-input">
                        <input type="password" class="formulario__input" name="password" id="password">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
                </div>

                <!-- Grupo: Contraseña 2 -->
                <div class="formulario__grupo input-box" id="grupo__password2">
                    <label for="password2" class="formulario__label">Confirmar Contraseña</label>
                    <div class="formulario__grupo-input">
                        <input type="password" th:field="*{password}" class="formulario__input" name="password2" id="password2">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
                </div>
            </div>
        </div>
        <!-- Grupo: Terminos y Condiciones -->
        <div class="formulario__grupo" id="grupo__terminos">
            <label class="formulario__label">
                <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
                Acepto los Terminos y Condiciones
            </label>
        </div>
        <div class="formulario__mensaje" id="formulario__mensaje">
            <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
        </div>

        <div class="formulario__grupo formulario__grupo-btn-enviar">
            <button type="submit" class="formulario__btn">Enviar</button>
            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito"><i class="fa-solid fa-circle-check"></i> Formulario enviado exitosamente!</p>
        </div>
    </form>
</section>
<!-------PIE DE PAGINA---->
<footer class="piepagina">
    <div class="container__footer">
        <div class="box__footer">
            <div class="logo">
                <iframe class="w3-round-large"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.154079670225!2d-74.11302318523752!3d4.743269996555049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f8488b8c01c3f%3A0xfb245984007b5257!2sArte%20%26%20Dise%C3%B1o%20Publicidad!5e0!3m2!1ses!2sco!4v1649227214068!5m2!1ses!2sco"
                    width="300" height="300" style="border:0; margin-left: 20px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
            <div class="terms text-center">
                <p>Bienvenidos a Arte&Diseño una empresa con mas de 20 años de experiencia y manejando producto de
                    publicidad ubicados es Suba gaintana</p>
            </div>
        </div>
        <div class="box__footer">
            <h2>Compañia</h2>
            <a th:href="@{/conocenos}">Quienes somos</a>
            <a href="">Contactanos</a>
            <a href=""></a>
        </div>
        <div class="box__footer">
            <h2>Contratación</h2>
            <a th:href="@{/TrabajaConNosotros}">Trabaja con nosotros</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
        <div class="box__footer">
            <h2>Redes sociales</h2>
            <a href=""><i class="fa-brands fa-facebook"></i> Facebook</a>
            <a href=""><i class="fa-brands fa-twitter"></i> Twtter</a>
            <a href=""><i class="fa-brands fa-linkedin"></i> Linkedin</a>
            <a href=""><i class="fa-brands fa-instagram"></i> instagram</a>
        </div>
    </div>
    <div class="box__copyright">
        <hr>
        <p>Todos los derechos reservados © 2021</p>
        <b>Tecno&Art</b>
    </div>
    <div class="final"></div>
</footer>
<!-------FIN PIE DE PAGINA---->
<!--scrip de registrate------>
<script src="/js/Resgistrar.js"></script>
<!--scrip de iconos------>
<script src="https://kit.fontawesome.com/f9d0333c9c.js" crossorigin="anonymous"></script>
<script src="/js/indexAnimation.js"></script>

</body>
</html>

